<section class="card">
  <a href="/subject/{{id}}">
    <div class="card">
      <div class="card-title">
        <h1>{{subject.title}}</h1>
      </div>
      <div class="card-body">
        <p>{{subject.definition}}</p>
        <p>{{subject.example}}</p>
      </div>
    </div>
    
</section>
