<section class="card topic-card">
  <a href="/topic/{{id}}">
    {{!-- <header>{{name}}</header> --}}
    <div class = "topicButton"> 
      <img src="/images/{{logo}}" alt="{{description}}" width="200" height="200">       
    </div>
  </a>
</section>