<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevXp</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <h1 class="text-white p-3">DevXp</h1>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">HTML</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">CSS</a>
            </li>
          </ul>
          <div class="d-flex">
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-outline-success" type="submit"><a href="/login/">Login</a></button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main class="container container-fluid col-12 col-xl-10">
    {{{body}}}
  </main>
  
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>