<div class="row">
  <div class="login-card">
    <h2>Sign Up</h2>
    <form class="form signup-form ">
      <div class="form-group">
        <label for="usename-signup">Username:</label><br>
        <input class="form-input" type="text" id="username-sign"> 
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label><br>
        <input class="form-input" type="text" id="email-signup">
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label><br>
        <input class="form-group" type="password" id="password-signup">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
    <br>
    <p>Already a user, <a href="/login">Login.</a></p>
  </div>
</div>