{{#if loggedIn}}
<section class="subject">
  <img src="/images/{{subject.filename}}" alt="{{subject.description}}">
  <div class="subject-details">
    <h3>{{subject.title}}</h3>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}