{{!-- {{#if loggedIn}} --}}
<section class="container">
  <div class="subject-details">
    <div>
      <h3>{{subject.title}}</h3>
    </div>

   <p>{{subject.definition}}</p>
  
   <p>Example: {{subject.example}}</p>
</section>
{{!-- {{else}}
<a href="/login">Please login to view the content</a>
{{/if}} --}}
