{{#if loggedIn}}
<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}