{{!-- Displaying all the subjects of a topic --}}
<div class="row mt-5 justify-content-center">
    {{#each topic.subjects as |subject|}} 
    <div class = "topic-orange">{{> subject-details}} </div>
    {{/each}}  
</div>