{{#if loggedIn}}
<section class="container">
  <h1 class="topic-name">{{topic.name}}</h1>
  <section>
    {{#each topic.subjects as |subject|}}
    {{> subject-details}}
    {{/each}}
  </section>
</section>
{{else}}
<p>Please login to view the content</p>
{{/if}}