:root {
    --primary: #231F20;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: rgb(187, 192, 201);
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }

  
  
  a:visited {
    color: inherit;
  }

  header {
    padding: 20px;
    text-align: center;
    background-color: var(--primary);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  nav {
    display: flex;
    background-color: var(--light);
  }
  
  nav a {
    color: var(--primary);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  
  nav a:hover {
    color: var(--primary);
    background-color: #CCCCFF;
  }
  
  /* .topic {
    flex: row;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  } */
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  }
  
  img {
    max-width: 100%;
    object-fit: contain;
    
  }
  
  .subject {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  .subject-details {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    margin: 25px;
    flex: 0 1 300px;
    /* border: 7px double var(--dark); */
    align-items: center;
    margin-top: 20%;
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    align-items: center;
    /* background-color:rgb(170, 182, 201); */
    /* color:rgba(0, 0, 0, 1); */
    /* margin: 30px; */
    /* flex: 0 0 50%; */
    /* max-width: 50%; */
    /* padding: 20px; */
    /* border: 3px solid var(--dark); */
    /* border-radius: var(--border-radius); */
    /* border-style: double; */
    /* border-width: thick; */
    /* background-color: #577a7c; */
    /* color: var(--light); */
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  /* .topic-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px var(--secondary);
    border: 10px groove var(--light);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
  } */
  
  /* LAYOUT */
  .container {
    display: row;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }