:root {
    --primary: #231F20;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: rgb(187, 192, 201);
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  header {
    padding: 10px;
    background-color: rgb(97, 135, 172);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  
  nav a:hover {
    background-color: var(--light);
  }
  
  img {
    max-width: 100%;
    object-fit: contain;  
  }
  
  .subject {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  .subject-details {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    margin: 25px;
    flex: 0 1 300px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--light);
  }
  
  .login-card {
    align-items: center;
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    /* background-color: var(--tertiary); */
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }

  .card-title h1 {
    color: rosybrown;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  /* LAYOUT */
  .container {
    display: row;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }

  .encQuote {
    padding: 8px 20px;
    margin: 24px -20px;
    font-size: 25px;
    background-color: white;
    border-radius: 5px;
  }

  /* BUTTONS */
  .topicButton {
    min-width: 100%;
    height: auto;
    transform: scale(0.90);
    transition: 0.3s;
  }

  .topic-card:hover{
    background-color: #C0C0C0;
  }

  .nav-link{
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
  }

  .nav-link:hover{
    background-color: #C0C0C0;
  }

  .loginButton {
    padding-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    transform: 0.3s;
    text-align: center;
  }

  .loginButton:hover {
    color: blue;
    background-color: #C0C0C0;
  }